.app{
  display: grid;
  grid-template-areas: "menu header header"
                       "menu main main"
                        "menu main main";
}

.main {
  min-height: 900px;
  font-size: 150px;
  grid-area: main;
  padding: 20px;
}
.header{
  grid-area: header;
}

.menu{
  grid-area: menu;
}