.app{
  display: grid;
  grid-template-areas: "menu header header"
                       "menu main main"
                        "menu main main";
}

.main{
  font-size: 150px;
  grid-area: main;
  padding: 0 20px 20px 20px;
}

.header{
  grid-area: header;
}

.menu{
  grid-area: menu;
}